.nav {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 13px;
  height: 36px;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav-black {
  background-color: #111;
}

.nav-logo {
  position: fixed;
  left: 20px;
  width: 80px;
  object-fit: contain;
}

.nav-avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}

.nav-button,
.nav-button-2,
.nav-button-3 {
  cursor: pointer;
  position: fixed;
  left: 200px;
  object-fit: contain;
  background-color: transparent;
  border: none;
  outline: none;
  color: rgb(226, 226, 226);
  font-weight: 700;
}

.nav-button-2 {
  left: 250px;
}
.nav-button-3 {
  left: 150px;
}

.nav-button:hover,
.nav-button-2:hover,
.nav-button-3:hover {
  color: red;
  transition: 0.2s;
}
