.chat {
  display: flex;
  flex-direction: column;
  flex: 0.8;
  height: 100vh;
  background-color: #121212;
}

.chat-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(211, 211, 211, 0.336);
  background-color: #181818;
}
.chat-header strong {
  color: #3cabfa;
}

.chat-header > h4 {
  font-weight: 500;
  color: #ffffffe3;
}

.chat-name {
  color: #ffffffe3;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-top: 1px solid rgba(211, 211, 211, 0.336);
  background-color: #121212;
}

.chat-input form {
  flex: 1;
  align-items: center;
}

.chat-input form input {
  width: 99%;
  align-items: center;
  outline-width: 0;
  border: 1px solid rgba(211, 211, 211, 0.336);
  border-radius: 999px;
  padding: 10px;
  background-color: #404040;
  color: #ffffffe3;
}

.chat-input form button {
  display: none;
}

.chat-messages {
  flex: 1;
  overflow: scroll;
}
.chat-mic {
  color: gray;
  margin-left: 5px;
}

.chat-messages::-webkit-scrollbar {
  display: none;
}

.message.false {
  margin-left: 10px;
  margin-right: 1020px;
}

.message.false p {
  background-color: #b3b3b3;
  color: #000000be;
  font-size: medium;
  padding: 15px;
  margin: 10px;
  border-radius: 20px;
  margin-right: auto;
  max-width: 200px;
}

.message.false small {
  color: gray;
  position: absolute;
  font-size: 10px;
  bottom: -3px;
  left: 0;
}
