.sidebarChat {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(211, 211, 211, 0.336);
  cursor: pointer;
  color: #ffffffe3;
}

.sidebarChat:hover {
  background-color: #3e93fd;
  color: #ffffff;
  transition: 0.2s ease-in;
}

.sidebarChat-info {
  margin-left: 15px;
  position: relative;
  width: 100%;
}
.sidebarChat-info small {
  position: absolute;
  top: 5px;
  right: 0;
}
